* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
    color: #fff;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
}

/* Hero Section */
.hero {
    background: url('../images/barber-hero.jpg') center/cover no-repeat;
    color: rgba(255, 247, 0, 0.738);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 100px 20px;
    text-transform: capitalize;
}
.btn-book {
    display: inline-block;
    padding: 12px 25px;
    background-color: #f1c40f;
    color: #222;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

/* Services Preview */
.services-preview {
    padding: 50px 20px;
    text-align: center;
}
.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.service-card {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}
